    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    @font-face {
        font-family: "delagothicone";
        src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
    }
    @font-face {
        font-family: "formadjrdisplay";
        src: url(../assets/fonts/Forma\ DJR\ Display.ttf);
    }
    @font-face {
        font-family: "playfairdisplay-reg";
        src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
    }


    /* Index.html*/


    header{
        grid-area: header;
    }

    body{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        background-color: rgb(22, 22, 22);
        margin: 0;
    }

    .logo{
        font-family: "delagothicone";
        justify-items: start;
        margin: 5px;
        font-size: 25px;
        color: #CB6D51;
        margin-top: 3px;
    }

    .sections{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin: 0 19px;
        padding: 10px 0px;
        margin-top: 3px;
    }
    .section:hover {
        text-decoration: underline #CB6D51;
    }
    .section{
        color:#CB6D51;
        text-decoration: none;
        padding: 35px 30px;
        font-family: "formadjrdisplay";
        border: #CB6D51;
        font-size: 19px;
    }

    .background-img{
        display: flex;
        justify-content: cover;
        align-items: center;
        padding-bottom: 860px;
        width: 100%;
        justify-content: space-between;
        background: linear-gradient( top);
        background: url("../assets/images/Portadahome.png");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
    }


    main{
        grid-area: main;
    }

    .imghomex4{
        display: grid;
        height: 650px;
        object-fit: contain;
        grid-template-columns:1fr 1fr 1fr 1fr;
        width: 100%;
        gap: 5px;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .foto1:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
        overflow:hidden;
    }
    .foto1{
        height: 600px;
        width: 100%;
        object-fit: cover;
        margin: 0;
    }


    .fotoytextoHome1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        width: 100%;
        gap: 5px;
    }
    .imgh1{
        margin-left: 5px;
        margin-top: 10px;
        height: 705px;
        
    }
    .p{
        margin: auto 0px;
        font-family:"playfairdisplay-reg" ;
        color: #FFEBCD;
        overflow-y: scroll;
        font-size: 30px;
        height: 66px;
    }

    .fotoytextoHome1{
        display: grid;
        grid-template-columns: 1fr,1fr;
        column-gap: 50px;
        flex-direction:row;
        padding: 0;
        margin: 0;
    }
    .fotoytextoHome1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .abstractanger{ 
        display: grid;
        height: 818px;
        object-fit: contain;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-top: 10px;
    }

    .title{
        text-align: center;
        align-self: center;
    }

    .delagothic{
        font-family: "delagothicone";
        font-size: 28px;
        color: #CB6D51;
    }

    .buttom{
        font-family: "formadjrdisplay";
        text-decoration: none;
        background-color: rgb(22, 22,22);
        color: #FFEBCD;
        background: none;
        border: none;
    }
    .buttom:hover{
        text-decoration: underline;
    }
    .img1seemore{
        width: 100%;
        margin-right: 5px;
    }

    .imagenfinal{
        display: grid;
        grid-template-columns: 1fr;
        height: 2011px;
        width: 100%;
        margin-top: 10px;
    }
    footer{
        grid-area: footer;
    }
    footer{
        background-color: black;
    }
    .hm{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        text-decoration: none;
        color: #FFEBCD;
        font-family: "formadjrdisplay";
        font-size: 19px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .hm:hover{
        text-decoration: underline;
    }

    .footInfo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        text-align: center;
        margin-bottom: 60px;
        font-family: "formadjrdisplay";
        color: #CB6D51;
        font-size: 19px;
    }

    .au:hover{
        text-decoration: underline;
    }

    .un{
        font-family: "formadjrdisplay";
        color: #CB6D51;
        background-color: #FFEBCD;
        font-size: 15px;
    }

    .iconosFooter{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 60px;
    }
    .socialmedia{
        justify-self: center;
        align-self: center;
    }
    .iconosFooter :hover{
        transform: scale(2,2);
    }


    /* About REI*/


    .background-img2{
        display: flex;
        align-items: center;
        padding-bottom: 1990px;
        width: 100%;
        justify-content: space-between;
        background: url("../assets/images/Portada\ About\ Rei.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .grupo{
        display: grid;
        grid-template-columns:1fr 4fr 1fr;
        align-items: center;
        justify-items: center; 
    }

    .CorazonTextAboutRei {
        display: grid;
        grid-template-columns:1fr;
    }
    .CorazonD{
        width: 200px;
    }

    .TextCollections{
        grid: 1fr;
        font-family: "playfairdisplay-reg";
        color: #FFEBCD;
        font-size: 40px;
        padding: 0px 40px;
    }
    .texto{
        padding: 20px 0px;
    }

    .fotocInfo{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .imagenp{
        width: 80%;  
        margin: 40px 40px;
        justify-items: center;
        align-items: center;

    }
    .imagenp1{
        margin-bottom: 1rem;
        text-align: center;
        font-family: "playfairdisplay-reg";
        color: #FFEBCD;
        font-size: 22px;
    }
    .inf{
        margin-bottom: 1rem;
        text-align: center;
        font-family: "delagothicone";
        color:#CB6D51;
        font-size: 35px;
        padding: 30px 60px;
    }

    .Images-AboutReix4{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 5px;
        margin-top: 5px;
        width: 100%;
    }

    .f1{
        width: 100%;
        margin: 0;
        object-fit: cover;
        padding: none;
    }
    .f1:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
        overflow:hidden;
    }

    .f2{
        width: 100%;
        margin: 0;
        object-fit: cover;
    }
    .f2:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }

    .f3{
        width: 100%;
        margin: 0;
        object-fit: cover;
    }
    .f3:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }

    .f4{
        width: 100%;
        margin: 0;
        object-fit: cover;
    }
    .f4:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }

    footer{
        padding-bottom: 0px;
        grid-area: footer;
    }


    /*Collections*/

    .background-img3{
        display: flex;
        justify-content: cover;
        align-items: center;
        padding-bottom: 1444px;
        justify-content: space-between;
        background: linear-gradient( top);
        background: url("../assets/images/Portada\ Collections.png");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
    }

    .videoo{
        display: grid;
        grid-template-columns: 1fr;
    }

    .text{
        font-family: "playfairdisplay-reg";
        font-size: 40px;
        color:#FFEBCD;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .video{
        width: 1620px;
        height: 1068px;
        margin: 10px 27px;
    }

    .collection1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows:auto auto auto ;
        grid-template-areas: 
        ". col col ."
        ". imgnprinc imgnprinc ."
        "imgn1 imgn2 imgn3 imgn4";
        gap: 20px 5px;
        width: 100%;
    }
    .col{
        grid-area: col;
    }
    .col{
        font-family: "Delagothicone";
        color: #CB6D51;
        font-size: 30px;
    }
    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        transition: color 0.20s; 
    }

    .col:hover {
        color: #FFEBCD;
    }
    .imgnprinc{
        grid-area: imgnprinc;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgn1{
        grid-area: imgn1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn1:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn2{
        grid-area: imgn2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn2:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn3{
        grid-area: imgn3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn3:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn4{
        grid-area: imgn4;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn4:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .collection2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows:auto auto auto ;
        grid-template-areas: 
        ". col2 col2 ."
        ". imgnprinc2 imgnprinc2 ."
        "imgn6 imgn7 imgn8 imgn9";
        gap: 20px 5px;
        width: 100%;
    }
    .col2{
        transition: color 0.20s; 
    }
    .col2:hover {
        color: #FFEBCD;
    }

    .col2{
        grid-area: col2;
    }
    .col2{
        font-family: "Delagothicone";
        color: #CB6D51;
        font-size: 30px;
    }
    .col2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
    }

    .imgnprinc2{
        grid-area: imgnprinc2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgn6{
        grid-area: imgn6;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imgn6:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn7{
        grid-area: imgn7;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imgn7:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn8{
        grid-area: imgn8;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imgn8:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn9{
        grid-area: imgn9;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .imgn9:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }



    .collection3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows:auto auto auto ;
        grid-template-areas: 
        ". col3 col3 ."
        ". imgnprinc3 imgnprinc3 ."
        "imgn11 imgn12 imgn13 imgn14";
        gap: 20px 5px;
        width: 100%;
    }
    .col3{
        grid-area: col3;
    }
    .col3{
        font-family: "Delagothicone";
        color: #CB6D51;
        font-size: 30px;
    }
    .col3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        transition: color 0.20s; 
    }

    .col3:hover {
        color: #FFEBCD;
    }
    .imgnprinc3{
        grid-area: imgnprinc3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgn11{
        grid-area: imgn11;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn11:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn12{
        grid-area: imgn12;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn12:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn13{
        grid-area: imgn13;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn13:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn14{
        grid-area: imgn14;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn14:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .collection4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows:auto auto auto ;
        grid-template-areas: 
        ". col4 col4 ."
        ". imgnprinc4 imgnprinc4 ."
        "imgn15 imgn16 imgn17 imgn18";
        gap: 20px 5px;
        width: 100%;
    }
    .col4{
        grid-area: col4;
    }
    .col4{
        font-family: "Delagothicone";
        color: #CB6D51;
        font-size: 30px;
    }
    .col4{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        transition: color 0.20s; 
    }

    .col4:hover {
        color: #FFEBCD;
    }
    .imgnprinc4{
        grid-area: imgnprinc4;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgn15{
        grid-area: imgn15;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn15:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn16{
        grid-area: imgn16;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn16:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn17{
        grid-area: imgn17;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn17:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn18{
        grid-area: imgn18;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn18:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }

    .collection5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows:auto auto auto ;
        grid-template-areas: 
        ". col5 col5 ."
        ". imgnprinc5 imgnprinc5 ."
        "imgn19 imgn20 imgn21 imgn22";
        gap: 20px 5px;
        width: 100%;
    }
    .col5{
        grid-area: col5;
    }
    .col5{
        font-family: "Delagothicone";
        color: #CB6D51;
        font-size: 30px;
    }
    .col5{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        transition: color 0.20s; 
    }

    .col5:hover {
        color: #FFEBCD;
    }
    .imgnprinc5{
        grid-area: imgnprinc5;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgn19{
        grid-area: imgn19;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn19:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn20{
        grid-area: imgn20;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn20:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn21{
        grid-area: imgn21;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn21:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }


    .imgn22{
        grid-area: imgn22;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top:5px ;
    }
    .imgn22:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    }

    /*contact */

    .background-img4{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 100vh;
        background: url("../assets/images/Portada\ Contact.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows:auto  ;
        grid-template-areas: 
        "tx tx"
        "mapa contactInformation"
    }

    .tx{
        grid-area: tx;
    }
    .tx{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tx{
        font-family: "playfairdisplay-reg";
        font-size: 38px;
        color: #FFEBCD;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mapa{
        grid-area: mapa;
    }
    .mapa{
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center;     
        height: 60vh; 
        flex-direction: column; 
    }

    .contactInformationn {
        display: flex;
        justify-content: center; 
        align-items: center;     
        height: 60vh; 
        flex-direction: column; 
    }

    .contactinformation {
        font-family: "delagothicone";
        font-size: 38px;
        color: #CB6D51;
    }
    .whatsapp, .mail , .location{
        font-family: "playfairdisplay-reg";
        color: #FFEBCD;
        font-size: 22px;
        gap: 5px;
        list-style: none;
    }

    .lastpart{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto ;
        grid-template-areas: 
        "qya"
        "form "
    }
    .qya{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lastpart .qya{
        grid-area: qya;
        font-family: "playfairdisplay-reg";
        font-size: 20px;
        color: #FFEBCD;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        font-family: "formadjrdisplay";
        color: #CB6D51;
        font-size: 19px;
    }
    .form{
        display: flex;
        flex-direction: column;
    }
    .nm{
        width: 350px;
        height: 25px;
        border-radius: 20px;
        background-color: #FFEBCD;
        font-family: "formadjrdisplay";
    }
    .lastname{
        width: 350px;
        height: 25px;
        border-radius: 20px;
        background-color: #FFEBCD;
        font-family: "formadjrdisplay";
        font-size: 16px;
    }
    .adress{
        width: 350px;
        height: 25px;
        border-radius: 20px;
        background-color: #FFEBCD;
        font-family: "formadjrdisplay";
        font-size: 16px;
    }
    .country{
        width: 350px;
        height: 25px;
        border-radius: 20px;
        background-color: #FFEBCD;
        font-family: "formadjrdisplay";
        font-size: 16px;
    }
    .question{
        width: 350px;
        height: 90px;
        border-radius: 20px;
        background-color: #FFEBCD;
        font-family: "formadjrdisplay";
        font-size: 16px;
        gap: 10px;
    }
    .submit{
        width: 100px;
        height: 20px;
        border-radius: 20px;
        background-color: #CB6D51;
        font-family: "formadjrdisplay";
        font-size: 16px;
        margin-top: 10px;
        color: #FFEBCD;
    }
    .reset{
        width: 100px;
        height: 20px;
        border-radius: 20px;
        background-color: #CB6D51;
        font-family: "formadjrdisplay";
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #FFEBCD;
    }

    /* help*/

    .background-img5{
        display: flex;
        align-items: center;
        padding-bottom: 100vh;
        width: 100%;
        justify-content: space-between;
        background: url("../assets/images/PortadaHelp.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .help{
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-area:
        "ul1" "ul2" 
        ;
    }
    .help{
        text-align: center;
        font-family: "formadjrdisplay";
        color: #CB6D51;
        font-size: 25px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .a1:hover{
        text-decoration: underline;
        }
    .a2:hover{
        text-decoration: underline;
    }
    .a3:hover{
        text-decoration: underline;
    }
    .a4:hover{
        text-decoration: underline;
    }

    .lastpart{
        margin-bottom: 20px;
    }

    @media screen and (max-width: 480px) {
        .background-img3{
            max-width: 480px;
        }

        body {
            max-width: 480px;
        }


    }