@font-face {
    font-family: "delagothicone";
    src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
}
@font-face {
    font-family: "formadjrdisplay";
    src: url(../assets/fonts/Forma\ DJR\ Display.ttf);
}
@font-face {
    font-family: "playfairdisplay-reg";
    src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}