/* INDEX REI MEDIA QUERIES */
@media (max-width: 2560px) and (min-width: 769px) {
    .boostrap{
        display: none;
    }
    .header{
        .titulo{
            font-size: 20px;
        }
    }
}
@media (max-width: $max-width-768) {
    .header{
        display: none;
    }
    .boostrap{
        display: inline-block;
        width: 768px;
        .text-whiteh4{
            font-family: "delagothicone";
            color: $color-naranja;
        }
        .secciones{
            text-decoration: none;
            color: $color-crema;
        }
    }
    .imghomex4 {
        width: 768px;
    }
    .fotoytextoHome1 {
        grid-template-columns: 384px 384px;
        margin-bottom: 10px;
    }
    .foto {
        width: 350px;
        height: 470px;
        margin: auto;
    }
    .texto6 {
        overflow-y: hidden;
        height: auto;
        margin: auto;
        font-size: 10px;
    }
    .colecciones-vermas {
        grid-template-columns: 768px;
        grid-template-rows: 200px 818px;
        margin-bottom: 20px;
    }
    .img1seemore img {
        width: 748px;
        margin-left: 10px;
        margin-right: 10px;
        justify-self: start;
        align-self: auto;
    }
}

@media (max-width: $max-width-425) {
    .header {
        display: none;
    }
    .boostrap{
        display: block;
        width: 425px;
        .text-whiteh4{
            font-family: "delagothicone";
            color: $color-naranja;
        }
        .secciones{
            text-decoration: none;
            color: $color-crema;
        }
    }
    .imghomex4 {
        width: 425px;
    }
    .fotoytextoHome1 {
        grid-template-columns: 425px;
        grid-template-rows: 400px;
        margin-bottom: 10px;
    }
    .foto {
        width: 200px;
        height: 300px;
        margin: auto;
    }
    .texto6 {
        overflow-y: hidden;
        height: auto;
        margin: 5px;
        font-size: 10px;
    }
    .colecciones-vermas {
        grid-template-columns: 425px;
        grid-template-rows: 200px 500px;
        margin-bottom: 20px;
    }
    .delagothic {
        font-size: 18px;
    }
    .img1seemore img {
        width: 415px;
        margin-left: 5px;
        margin-right: 5px;
        justify-self: start;
        align-self: auto;
    }
    .hm {
        font-size: 13px;
    }
    .au {
        font-size: 15px;
    }
}

/* ABOUT REI MEDIA QUERIES */
@media (max-width: 2560px) and (min-width: 769px) {
    .boostrap{
        display: none;
    }
    .header-aboutrei{
        .titulo{
            font-size: 20px;
        }
    }
}
@media (max-width: $max-width-768) {
    .header-aboutrei {
        display: none;
    }
}

@media (max-width: $max-width-425) {
    .header-aboutrei {
        display: none;
    }
    .corazonAboutRei {
        width: 30px;
    }
    .textAboutRei {
        font-size: 10px;
        margin-top: 5px;
    }
    .imagenp1 {
        font-size: 10px;
    }
    .parrafofinal {
        font-size: 12px;
    }
}

/* COLLECTIONS MEDIA QUERIES */
@media (max-width: 2560px) and (min-width: 769px) {
    .boostrap{
        display: none;
    }
    .header-collections{
        .titulo{
            font-size: 20px;
        }
    }
}
@media (max-width: $max-width-768) {
    .header-collections {
        display: none;
    }
    .text {
        font-size: 15px;
    }
    .youtubevideo {
        width: 750px;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .col, .col2, .col3, .col4, .col5 {
        font-size: 15px;
    }
}

@media (max-width: $max-width-425) {
    .header-collections {
        display: none;
    }
    .text {
        font-size: 13px;
    }
    .youtubevideo {
        width: 390px;
        height: 390px;
        margin-left: 15px;
        margin-right: 5px;
    }
}

/* CONTACT MEDIA QUERIES */
@media (max-width: 2560px) and (min-width: 769px) {
    .boostrap{
        display: none;
    }
    .header-contact{
        .titulo{
            font-size: 20px;
        }
    }
}
@media (max-width: $max-width-768) {
    .header-contact {
        display: none;
    }
    .tx {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .mapa {
        width: 250px;
        height: 300px;
    }
    .contactinformation {
        font-size: 15px;
    }
    .whatsapp, .mail, .location {
        font-size: 15px;
    }
    .formulario .qya {
        font-size: 12px;
    }
}
@media (max-width: 425px) {
    .header-contact{
        display: none;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .tx {
            font-size: 28px; 
        }

        .mapa {
            width: 90%;
            height: auto;
            margin: 10px 0;
        }

        .contactInformationn {
            width: 100%;
            text-align: center;
            .contactinformation {
                font-size: 20px; 
            }
            .ul{
                padding: 0%;
                margin: 0%;
            }
            .whatsapp, .mail, .location {
                font-size: 15px; 
                margin: 10px 0;
            }
        }
    }

    .formulario {
        .qya {
            font-size: 15px; 
            text-align: center;
        }

        .form {
            width: 100%;
            padding: 0 20px;

            .nm, .lastname, .adress, .country, .question {
                width: 100%;
                margin: 5px 0;
            }

            .submit, .reset {
                width: 60%;
                margin: 10px 0;
            }
        }
    }
}


/*HELP MEDIA QUERI*/
@media (max-width: 2560px) and (min-width: 769px) {
    .boostrap{
        display: none;
    }
    .header-help{
        .titulo{
            font-size: 20px;
        }
    }
}
@media (max-width: $max-width-768) {
    .header-help {
        display: none;
    }
}
.a1 , .a2 , .a3 , .a4{
    font-size: 15px;
}